html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url('../images/background2.jpg') no-repeat center center fixed;
  background-size: cover;
}
/* Header and Navigation styles */
header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
}

.navbar{
  display: flex;
  margin-top: 75px;
  margin-bottom: 30px;
}

.navbar-list{
margin: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 1em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #007BFF;
}



.header-section {
    background-image: url('../images/titul2.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    height: 1000px; /* Adjust the height as needed */
    width: 100%;

}




.background-section2 {
  background-image: url('../images/team.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  height: 1000px; /* Adjust the height as needed */
  text-align: center; /* Center the text content */
}

.background-section3 {
  background-image: url('../images/fon2.png');
  background-size: 70%;
    background-repeat: no-repeat;
  background-position: center; /* Center the image */
  height: 500px; /* Adjust the height as needed */
  text-align: center; /* Center the text content */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.centered-button {
    padding: 10px 20px; /* Adjust the padding as needed */
    font-size: 25px; /* Adjust the font size as needed */
    font-weight: bold;
    background-color: black; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 15px; /* Adjust the border radius as needed */
    cursor: pointer;
    margin-top: 20px; /* Adjust to your preferred spacing from the top */
   margin-left: 850px; /* Adjust to your preferred spacing from the left */
   margin-right: auto;
  margin-bottom: 95%;
  /* Adjust to your preferred spacing from the right */
}

.address {
  padding: 10px 20px; /* Adjust the padding as needed */
  font-size: 25px; /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 70px;

}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    width: 40px; /* Adjust the icon size */
    height: 40px; /* Adjust the icon size */
    margin: 0 10px; /* Adjust the spacing between icons */
    background-size: cover;
}

.instagram {
    background-image: url('../images/instagram.png'); /* Replace with your Instagram icon */
}

.youtube {
    background-image: url('../images/youtube.png'); /* Replace with your YouTube icon */
}

.linkedin {
    background-image: url('../images/linkedin.png'); /* Replace with your LinkedIn icon */
}
.gmail {
    background-image: url('../images/gmail.png');
}
.copyright {
  font-size: 15px;

}

.image-container {
  height: 100%; /* Make the image responsive to its container */
  margin-left: 1500px;
}
img {
  max-width: 50%; /* Make the image responsive to its container */
  height: auto; /* Ensure the image maintains its aspect ratio */
  }

  .info {
    background-image: url('../images/sec2.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    height: 1000px; /* Adjust the height as needed */
    text-align: center; /* Center the text content */

}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 1rem; 
  width: 80%;
}

.box {
  margin-top: 60%;
  margin-left: 40%;
  padding: 5px;
  text-align: right; 
}

